Repository nrise/Quantum-Dots, pull requests merged in 2025-05, with the labels that each got.

#45 fixed bulletText layout
  .DS_Store
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/.DS_Store
  lib/src/common_widget/qds_bullet_text.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED, do not merge

#48 implement function for colorfilter disable
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/button/round/qds_round_button.dart
  lib/src/button/round/qds_round_button_label_type.dart
  lib/src/button/round/qds_round_button_label_type.freezed.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#49 unwrap Flexible in round button
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/button/round/qds_round_button.dart
  pubspec.yaml
Labels: bug, REVIEW NEEDED

#50 Implement QdsBalloonTooltipComponent
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_tooltip.dart
  lib/src/tooltip/qds_ballon_tooltip_component.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#51 impl profileCardGrid
  example/assets/icons/icon_shield_filled_16.svg
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_profile_card_grid.dart
  lib/src/foundation/icon_path.dart
  lib/src/profile_card_grid/qds_profile_card_grid.dart
  lib/src/profile_card_grid/qds_profile_card_info_component.dart
  lib/src/profile_card_grid/qds_profile_card_ui_state.dart
  lib/src/profile_card_grid/qds_profile_card_ui_state.freezed.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#52 QDS Guide 구현
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_guide.dart
  lib/src/guide/qds_guide.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#53 impl qdsProfileCardPortraitMedium
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_profile_card_portrait_medium.dart
  lib/src/common_widget/wippy_network_image.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_bottom_info_component.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_message_component.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_top_info_component.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_ui_state.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_ui_state.freezed.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#54 dm 디자인 반영
  example/assets/icons/icon_dm_24.svg
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/foundation/icon_path.dart
  lib/src/input/chat_input/chat_input.dart
  lib/src/input/chat_input/send_button.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_bottom_info_component.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#55 update qds guide properties
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/guide/qds_guide.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#57 버전 0.0.63으로 업데이트 및 프로필 카드의 블러 효과 관련 속성 수정
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/common_widget/wippy_network_image.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_ui_state.dart
  lib/src/profile_card_portrait_medium/qds_profile_card_portrait_medium_ui_state.freezed.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#58 add GestureDetector on bottomsheet header
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/bottom_sheet/title/bottom_sheet_header.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED
