Repository nrise/Quantum-Dots, pull requests merged in 2025-01, with the labels that each got.

#3 Implement WippySolidDropDown
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  example/lib/main.dart
  lib/qds_input.dart
  lib/src/foundation/font.dart
  lib/src/input/dropdown/solid_drop_down_ui_state.dart
  lib/src/input/dropdown/solid_drop_down_ui_state.freezed.dart
  lib/src/input/dropdown/wippy_solid_drop_down.dart
Labels: feature

#5 tooltipComponent visible state, clickable event 추가
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/tooltip/tooltip_component.dart
  lib/src/tooltip/tooltip_ui_state.dart
  pubspec.yaml
Labels: feature

#6 tooltipComponent 클릭 리스너 추가
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/tooltip/tooltip_component.dart
  pubspec.yaml
Labels: feature

#7 Add WippyPickerBottomSheet bottom margin
  lib/src/bottom_sheet/wippy_picker_bottom_sheet.dart
Labels: bug

#9 remove SystemUiOverlayStyle
  lib/src/bottom_sheet/wippy_picker_bottom_sheet.dart
Labels: bug

#11 이미지슬롯 레이아웃 추가
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_common_widget.dart
  lib/src/common_widget/image_slot_component.dart
  lib/src/common_widget/model/slot_state.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#12 bgColor, emptyIcon 수정
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/common_widget/image_slot_component.dart
  lib/src/common_widget/model/slot_state.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED
