Repository nrise/Quantum-Dots, pull requests merged in 2025-02, with the labels that each got.

#13 WippyBoxButton buttonKey 파라미터 공개
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/button/wippy_box_button.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#14 Implement QDS PageRoute
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_page_route.dart
  lib/src/page_route/builder/slide_out_page_route_builder.dart
  lib/src/page_route/screen_slide_transition_page.dart
  lib/src/page_route/tab_change_fade_transition_page.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#17 텍스트 area 네이밍 변경 및 TextInputAction 추가
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_input.dart
  lib/src/bottom_sheet/wippy_input_bottom_sheet.dart
  lib/src/common_widget/image_slot_component.dart
  lib/src/input/textarea/qds_text_area.dart
  lib/src/input/textarea/text_area_initial_data.dart
  lib/src/input/textarea/text_area_initial_data.freezed.dart
  lib/src/input/textarea/text_area_ui_state.dart
  lib/src/input/textarea/text_area_ui_state.freezed.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#18 version 0.0.17
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  pubspec.yaml
Labels: REVIEW NEEDED

#19 Fix QDS Route, BoxButton Bugs
  example/lib/dimmed_loading_test_screen.dart
  example/lib/main.dart
  example/lib/toast_test_screen.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_page_route.dart
  lib/src/bottom_sheet/selectable_button_component.dart
  lib/src/bottom_sheet/wippy_picker_bottom_sheet.dart
  lib/src/button/extension_widget/bottom_cta_button.dart
  lib/src/button/qds_box_button.dart
  lib/src/button/qds_box_button_cubit.dart
  lib/src/button/qds_box_button_ui_state.dart
  lib/src/button/qds_box_button_ui_state.freezed.dart
  lib/src/empty_states/wippy_empty_states.dart
  lib/src/page_route/builder/slide_out_page_route_builder.dart
  lib/src/page_route/builder/wippy_page_route_builder.dart
  lib/src/page_route/builder/wippy_transition_page.dart
  lib/src/page_route/screen_route_fade_transition_page.dart
  lib/src/page_route/screen_slide_transition_page.dart
  lib/src/page_route/tab_change_fade_transition_page.dart
  lib/src/popup/wippy_popup.dart
  pubspec.yaml
Labels: bug, REVIEW NEEDED

#22 imageSlot shadow 제거
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/common_widget/image_slot_component.dart
  pubspec.yaml
Labels: bug, REVIEW NEEDED

#23 wippyHeader icon 추가 기능 구현
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/header/wippy_header.dart
  lib/src/header/wippy_header_title.dart
  lib/src/header/wippy_header_title.freezed.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#24 popup image type에 height, fit 옵션 추가
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/popup/type/popup_image_type.dart
  lib/src/popup/type/popup_image_type.freezed.dart
  lib/src/popup/wippy_popup.dart
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#25 boxButtonState 버그 수정
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/button/qds_box_button_cubit.dart
  pubspec.yaml
Labels: bug, REVIEW NEEDED

#26 selectable_button_component 수정
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/bottom_sheet/selectable_button_component.dart
  pubspec.yaml
Labels: bug, REVIEW NEEDED

#29 WippyNetworkImage shapeDecoration optional 처리
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/common_widget/image_slot_component.dart
  lib/src/common_widget/wippy_network_image.dart
  lib/src/header/wippy_header.dart
  pubspec.lock
  pubspec.yaml
Labels: feature, REVIEW NEEDED

#30 set letter spacing 0
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/src/foundation/font.dart
  pubspec.yaml
Labels: bug, REVIEW NEEDED

#31 implement ScreenSlideUpTransitionPage animation
  example/pubspec.lock
  example/pubspec.yaml
  example/pubspec_overrides.yaml
  lib/qds_page_route.dart
  lib/src/page_route/screen_slide_up_transition_page.dart
  pubspec.yaml
Labels: bug, REVIEW NEEDED
